*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: hsl(0 0% 50%);
  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

h1 {
  color: hsl(0, 0%, 7%);
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

/* Media */
.media {
  display: flex;
  align-items: center;
}

.media__image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.media__text {
  font-weight: 700;
  color: #000;
  margin-left: 1.5rem;
}

/* Badge */
.badge {
  display: inline-block;
  color: #000;
  font-weight: 700;
  padding: 0.8rem 1.3rem;
  background: hsl(47 88% 63%);
  border-radius: 0.5rem;
}
