*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: hsl(0 0% 50%);
  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

h1 {
  color: hsl(0, 0%, 7%);
  margin-bottom: 1rem;
}

p {
  margin: 0;
}
